<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-11">
      <div class="card shadow-lg border-0">
        <div class="card-body">
          <h1 class="text-center mb-4">Lista de Pacientes</h1>

          <div class="text-end mb-3">
            <a routerLink="/cadastro-paciente" class="btn btn-outline-info">Novo Cadastro</a>
          </div>

          <div class="table-responsive">
            <table class="table table-striped table-hover align-middle">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Idade</th>
                  <th>Telefone</th>
                  <th>Endereço</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let paciente of pacientes">
                  <td>{{ paciente.nome }}</td>
                  <td>{{ paciente.idade }}</td>
                  <td>{{ paciente.telefone }}</td>
                  <td>{{ paciente.endereco }}</td>
                  <td>
                    <a [routerLink]="['/edicao', paciente.id]" class="btn btn-outline-warning btn-sm">
                      Editar
                    </a>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>